body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode a {
    color: lightblue;
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select,
body.dark-mode button {
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #555;
}

/* timeout voor flash berichten */
.flash {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.flash.hide {
    opacity: 0;
}

/* layuit */

